.dialog-area {
  &__dialog-bar--height{
    height: 10%;
    max-height: 50px;
  }

  &__messagesList--height{
    flex-grow: 1;
  }

  &__message-form--height{
    height: 15%;
  }

  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  gap: $gap / 2;

  height: 100%;

  padding: $elementPadding;

  background-color: $messageBlockColor;
}

.dialog-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  //padding-inline: $gap / 2;

  //background-color: $dialogsBlockColor;

  &__ava{
    --avaSide: 50px;
    width: var(--avaSide);
    height: var(--avaSide);
    border-radius: 50%;
  }

  &__dialog-info{
    display: flex;
    align-items: center;
    gap: $gap/2;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.buttons-block {
  position: relative;
  display: flex;
  gap: $gap/2;
}

.default-hint {
  margin: auto auto;
  font-size: 20px;
}

.dialog-menu {
  position: absolute;
  top: 110%;
  right: 0px;

  width: max-content;
  overflow: hidden;


  border-radius: $borderRadius/2;
  background-color: $bg-color;
  box-shadow: 5px 5px 50px $messageBlockColor;
  font-size: 20px;

  &__item {
    cursor: pointer;
    padding: 10px;
    &:hover{
      background-color: $navHoverColor;

    }
  }
}
