.dialog-area {
  &__dialog-bar--height{
    height: 10%;
    max-height: 50px;
  }

  &__messagesList--height{
    flex-grow: 1;
  }

  &__message-form--height{
    height: 15%;
  }

  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  gap: $gap / 2;

  height: 100%;

  padding: $elementPadding;

  background-color: $messageBlockColor;
}

.dialog-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  padding-inline: $gap / 2;

  //background-color: $dialogsBlockColor;

  &__ava{
    --avaSide: 50px;
    width: var(--avaSide);
    height: var(--avaSide);
    border-radius: 50%;
  }

  &__dialog-info{
    display: flex;
    align-items: center;
  }
}

.buttons-block {
  display: flex;
  gap: $gap/2;
}
