.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $elementColor;
  height: $header-bottm-height;
}

.serverStatus {
  background-color: $dialogsBlockColor;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: $mainTextColor;
  width: 200px;
  border-radius: 5px;
  cursor: default;
  height: 25px;
}

.krug {
  border: 1px solid black;
  background-color: red;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 5px;
}
