@mixin onlyMobile() {
  @media (max-width: 679px) {
    @content;
  }
}

@mixin onTablet() {
  @media (min-width: 680px) {
    @content;
  }
}

@mixin onDesktop() {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin contentPaddingInline() {
  padding-inline: $gap;

  @include onTablet {
    padding-inline: 50px;
  }

  @include onDesktop {
    padding-inline: 100px;
  }
}

.container {
  @include contentPaddingInline;
  max-width: 1560px;
}
